# Ignore virtual environments
.venv/
venv/
__pycache__/

# Ignore OS clutter
.DS_Store

# Ignore Jupyter/VSCode stuff
.ipynb_checkpoints/
.vscode/

# Ignore CSVs and large files (optional)
*.csv

*.toml

working_streamlit_app.py
